general:
  owner: SAP
  repository: ui5-webcomponents-react
  buildTool: yarn
steps:
  artifactPrepareVersion:
    filePath: 'lerna.json'
    versioningType: 'library'
    customVersionField: 'version'

  detectExecuteScan:
    dockerImage: sapmachine:lts
    serverUrl: 'https://sap.blackducksoftware.com'
    projectName: 'ui5-webcomponents-react'
    groups:
      - 'ui5-webcomponents-react'
    npmDependencyTypesExcluded: ['DEV']
    useDetect9: true
    excludedPackageManagers:
      - 'LERNA'
    customEnvironmentVariables:
      - 'DETECT_YARN_DEPENDENCY_TYPES_EXCLUDED=NON_PRODUCTION'
    customTlsCertificateLinks:
      - https://aia.pki.co.sap.com/aia/SAPNetCA_G2_2.crt
      - https://aia.pki.co.sap.com/aia/SAP%20Global%20Root%20CA.crt
